html, body {
    height: 100%!important;
    margin: 0!important; 
    padding: 0!important;
  }
  
.primary-color {
  background-color: #0092AE!important;
}

.primary-color-text {
  color: #0092AE!important;
}

.w-sidebar {
  width: 15rem;
}

.border-none {
  border: none!important;
}

.important-info-w {
  width: 30rem!important;
}
